@mixin media($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

.about {
    .page1 {
        background: linear-gradient(rgba(0, 0, 0, 0.539), rgba(0, 0, 0, 0.689)), url(../../assets/aboutBg.jpg) center;
        background-size: cover;
        height: 100vh;

        .head {
            display: flex;
            align-items: center;
            height: 63vh;

            h1 {
                margin-left: 30vmin;
                font-size: 18vmin;
                font-weight: 700;
                color: #ffffff;
                text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.427);
            }
        }
    }

    .page2 {
        background-color: rgb(31, 31, 31);
        display: flex;
        justify-content: center;
        align-items: center;

        .main {
            max-width: 80rem;
            width: 100%;
            padding: 15vmin 15vmin;

            h2 {
                font-size: 40px;
                font-weight: 600;
                color: #ffffff;
                padding: 1rem 0;
            }

            p {
                color: #ffffff81;
            }
        }
    }

    @include media(768px) {
        .page1 {
            .head {
                justify-content: center;

                h1 {
                    margin-left: unset;
                }
            }
        }
    }
}